import consumer from "./consumer"

<% Chatroom.all.each do |c| %>

consumer.subscriptions.create({channel: "MessagesChannel", room: <%= c.id %>}, {
  connected() {
    // Called when the subscription is ready for use on the server
    console.log("Someone has connected!")
  },

  disconnected() {
    // Called when the subscription has been terminated by the server
  },

  received(data) {
    // Called when there's incoming data on the websocket for this channel
    console.log(data)
    let messages = document.getElementById('messages');
    messages.append(this.renderMessage(data));
    return messages
    
  },

  renderMessage(data) {
    let paragraph = document.createElement("p");
    paragraph.innerHTML = data.user + " - " + data.message
    
    return paragraph
    
  },

  setChatroomId(chatroomId) {
    this.chatroomId = chatroomId
  },

});
