<section class="user-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'big-form' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1>Profile Settings</h1>

    <div class="field">
      <h3><%= f.label :firstname %></h3>
      <%= f.text_field :firstname, autocomplete: "firstname", class: "text-field" %>
    </div>

    <div class="field">
      <h3><%= f.label :lastname %></h3>
      <%= f.text_field :lastname, autocomplete: "lastname", class: "text-field" %>
    </div>

    <div class="field">
      <h3><%= f.label :username %></h3>
      <%= f.text_field :username, autocomplete: "username", class: "text-field" %>
    </div>

    <div class="field">
      <h3><%= f.label :image %></h3>
      <div>
        <%= image_tag (@user.image) if @user.image.attached? %>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="field" id="user-bio-edit">
      <h3><%= f.label :biography %></h3>
      <div>
        <%= f.rich_text_area :biography, autocomplete: "biography" %>
      </div>
    </div>

    <div class="field">
      <h3><%= f.label :email %></h3>
      <%= f.email_field :email, autocomplete: "email", class: "text-field" %>
    </div>

    <div class="field">
      <div>
        <h3><%= f.label 'Profile Colour' %></h3>
        <p>Select a personalised colour for yourself. People will see this colour displayed on your profile.</p>
      </div>
      <%= f.color_field :colour, autofocus: true, class: "text-field" %>
    </div>

    <div class="field" id="panel_colour">
      <div>
        <h3><%= f.label 'Side panel colour' %></h3>
        <p>You can customise the side panel colour to your liking.</p>
      </div>
      <%= f.color_field :panel_colour, autofocus: true, class: "text-field" %>
    </div>

    <div class="field" id="readin_speed">
      <div>
        <h3><%= f.label 'Reading Speed (words per minute)' %></h3>
        <p><a href="http://www.readingsoft.com/" style="color: #073b4c">Take this test</a> to work out how quickly you can read.</p>
        <p>This will be used to calculate your reading time for any given story.</a>
      </div>
      <%= f.text_field :reading_speed, autofocus: true, class: "text-field" %>
    </div>

    <div class="field">
      <div>
        <h3><%= f.label 'User profile link slug' %></h3>
        <p>You can currently access your profile from <a href="https://freefiction.xyz/u/<%= current_user.slug %>">https://freefiction.xyz/u/<%= current_user.slug %></a>. </p>
        <p>You can change <b><%= current_user.slug %></b> to something else.</p>
      </div>
      <%= f.text_field :slug, autocomplete: "slug", class: "text-field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <h2>Change Password</h2>
    <div class="field">
      <div>
        <h3><%= f.label 'New password'%></h3>
        <p>(ignore if you don't want to change it)</p>
        <em><%= @minimum_password_length %> characters minimum</em>
      </div>
      <%= f.password_field :password, input_html: { :autocomplete => "off" }, class: "text-field" %>
    </div>
    <div class="field">
      <div>
        <h3><%= f.label 'Confirm new password' %></h3>
        <p>(ignore if you don't want to change it)</p>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field" %>
    </div>
    <h2>Save changes</h2>
    <div class="field">
      <div>
        <h3><%= f.label 'Confirm your password'%></h3><br />
        <p>Verify your changes before saving</p>
      </div>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "text-field" %>
    </div>
    <p>
      <%= f.submit "Update", class: "save-btn" %>
      <%= link_to "Discard Changes", :back %>
    </p>
  <% end %>
  <form id="edit_user" style="margin-bottom: 50px;">
    <h3>Cancel your account</h3>
    <p>Canceling your account will permanently wipe it off FreeFiction. Never to be seen again. Are you sure
    you want to do this?</p>
    <%= link_to "Yes I am sure", registration_path(resource_name), method: :delete, data: 
    { confirm: "You are about to remove your account. If this is a mistake, press cancel." }  %>
  </form>
</section>


<script>
  let colourSelector = document.getElementById("user_panel_colour");
  document.getElementById("sidebar").style.backgroundColor = colourSelector.value;
  colourSelector.addEventListener("change", previewColour); 

  function previewColour() {
    console.log('Something is meant to happen');
    document.getElementById("sidebar").style.backgroundColor = colourSelector.value;
  }

</script>