<div class="gatekeeper-parent">
  <div class="gatekeeper-text">
    <h1>Welcome to FreeFiction</h1>
    <h3>Unleash your freedom</h3>
  </div>
  <div class="gatekeeper-form">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label 'username*' %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", :required => true, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label 'email*' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label 'password*' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label 'password confirmation*' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "save-btn" %>
      </div>
    <% end %>
    <p><i>Usernames cannot be changed after.</i></p>
    <%= render "devise/shared/links" %>
  </div>
</div>

<style>
  .top-bar {
    display: none;
  }
</style>