<%= form_for Comment.new do |form| %>
  <div class="field">
    <%= form.text_area :body, placeholder: 'Add a comment.' %>
    <%= form.hidden_field(:commentable_type, value: @commentable_type)  %>
    <%= form.hidden_field(:commentable_id, value: @commentable_id)  %>
  </div>
  <%= button_tag 'Reply', type: 'submit', class: 'save-btn' %>
<% end %>
