<section class="admin">
  <h1>Admin Panel</h1>
  <h3>Users (<%= @users.count %>)</h3>
  <table class="green">
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Books</th>
      <th>Favourite Books</th>
      <th>Owned Communities</th>
      <th>Joined Communities</th>
      <th>Joined date</th>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.username, user_path(u) %></td>
        <td><%= u.firstname %> <%= u.lastname %></td>
        <td><%= u.email %></td>
        <td><%= u.books.count %></td>
        <td><%= u.favourite_books.count %></td>
        <td><%= @communities.where(user_id: u).count %></td>
        <td><%= u.community_members.count %></td>
        <td><%= u.created_at %></td>
      </tr>
    <% end %>
  </table>

  <h3>Books (<%= @books.count %>)</h3>
  <table class="red">
    <tr>
      <th>Title</th>
      <th>Views</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Status</th>
      <th>Favourited</th>
      <th>Author</th>
      <th>Last Updated</th>
      <th>Created</th>
    </tr>
    <% @books.each do |b| %>
      <tr>
        <td><%= link_to b.title, book_path(b) %></td>
        <td><%= b.impressions_count %></td>
        <td><%= b.category %></td>
        <td><%= b.rating %></td>
        <td><%= b.status %></td>
        <td><%= b.favourited_by.count %></td>
        <td><%= link_to b.user.username, user_path(b.user) %></td>
        <td><%= b.updated_at %></td>
        <td><%= b.created_at %></td>
      </tr>
    <% end %>
  </table>

  <h3>Communities (<%= @communities.count %>)</h3>
  <table class="blue">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Posts</th>
      <th>Members</th>
      <th>Banned Members</th>
      <th>Created</th>
    </tr>
    <% @communities.each do |c| %>
      <tr>
        <td><%= link_to c.name, community_path(c) %></td>
        <td><%= link_to c.user.username, user_path(c.user) %></td>
        <td><%= c.posts.count %></td>
        <td><%= c.community_members.count %></td>
        <td><%= c.community_member_bans.count %></td>
        <td><%= c.created_at %></td>
      </tr>
    <% end %>
  </table>
</section>
