<%= content_for(:meta_og) do %>
  <meta property="og:title" content="@<%= @user.username %>'s Profile" />
  <meta property="og:description" content="<%= truncate(strip_tags(@user.biography.to_s), length: 200) %>" />
  <meta property="profile:username" content="@<%= @user.username %>" />
  <meta property="profile:firstname" content="@<%= @user.firstname %>" />
  <meta property="profile:lastname" content="@<%= @user.lastname %>" />
  <meta property="og:type" content="profile" />
  <%= tag :meta, property: 'og:image', content: "#{request.host_with_port}#{url_for(@user.image)}" %>
<% end %>
<div class="user-container">
  <div class="user-cover" style="background: <%= @user.colour %>">
    <div class="user-cover-relative">
      <%= image_tag (@user.image) if @user.image.attached? %>
      <div>
        <h1>
          <% if @user.firstname.nil? && (user_signed_in? && @user.id == current_user.id) %>
            <%= link_to "Add your name", edit_user_registration_path %>

          <% elsif @user.firstname.nil? %>
            No name
          <% else %>
            <%= @user.firstname %> <%= @user.lastname %>
          <% end %>
        </h1>
        <p>@<%= @user.username %> - <%= @user.role %></p>
      </div>
      <% if user_signed_in? && current_user.id != @user.id %>
        <% if current_user.following.find_by(id: @user.id) %>
          <%= link_to 'Unfollow', follow_user_path(@user, type: "unfollow"), method: :put, id: 'relationship-no' %>
        <% else %>
          <%= link_to 'Follow', follow_user_path(@user, type: "follow"), method: :put, id: 'relationship-yes' %>
        <% end %>
      <% end %>
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to 'Settings', edit_user_registration_path, class: 'primary-btn' %>
      <% end %>
    </div>
  </div>
  <div class="user-info">
    <div class="user-details">
      <p><%= @user.biography %></p>
      <p>Joined <%= @user.created_at.strftime("%B %Y") %></p>
     
    </div>
  </div>
  <div class="user-stats">
    <div class="stat-item" onclick="currentSlide(1)">
      <p>Books</p>
      <strong><%= @books.count %></strong> 
    </div>
    <div class="stat-item" onclick="currentSlide(2)">
      <p>Favourite Books</p>
      <strong><%= @favourite_books.count %></strong> 
    </div>
    <div class="stat-item" onclick="currentSlide(3)">
      <p>Communities</p>
      <strong><%= @owned_communities.count + @user.community_members.count %></strong>    
    </div>
    <div class="stat-item" onclick="currentSlide(4)">
      <p>Following</p>
      <strong><%= @user.following.count %></strong>   
    </div>
    <div class="stat-item" onclick="currentSlide(5)">
      <p>Followers</p>
      <strong><%= @user.followers.count %></strong>
    </div>
  </div>

  <div class="user-stuff">

    <div class="statsSlides fade">
      <% if user_signed_in? && current_user.id == @user.id %>
        <h3>Your books</h3>
      <% else %>
        <h3>Books made by this author</h3>
      <% end %>
      <div class="user-books">
        <% @books.each do |b| %>
          <div class="user-items">
            <div class="user-book-img">
              <%= image_tag (b.image) if b.image.attached? %>
            </div>
            <strong><%= link_to b.title, book_path(b)%></strong>
            <br>
            <p><%= b.impressionist_count(:filter=>:ip_address) %> views</p>
          </div>
        <% end %>
      </div>

      
    </div>

    <div class="statsSlides fade">
      <h3>Favourite books</h3>
      <div class="user-books">
        <% @favourite_books.each do |f| %>
          <div class="user-items">
            <div class="user-book-img">
              <%= image_tag (f.book.image) if f.book.image.attached? %>
            </div>
            <strong><%= link_to f.book.title, book_path(f.book_id)%></strong>
            <br>
            <p><%= f.book.impressionist_count(:filter=>:ip_address) %> views</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="statsSlides fade">
      <h3>Owned communities</h3>
      <div class="user-memberships">
        <div class="communities-parent">
          <% @owned_communities.each do |c| %>
            <div class="community-item">
              <div class="community-img">
                <div>
                  <%= image_tag (c.image) if c.image.attached? %>
                  <strong><%= link_to c.name, community_path(c) %></strong>
                </div>
                  <% if user_signed_in? %>
                    <% if c.community_members.find_by(user_id: current_user.id, community_id: c.id) %>
                      <%= link_to 'Leave', membership_community_path(c, type: "leave"), class: 'del-btn', method: :put %>
                    <% elsif c.community_member_bans.find_by(user_id: current_user.id, community_id: c.id) %>
                    <% elsif c.user.id == current_user.id %>
                    <% else %>
                      <%= link_to 'Join', membership_community_path(c, type: "join"), class: 'join-btn', method: :put %>
                    <% end %>
                <% end %>
              </div>
              <div class="text">
                <p>Members: <%= c.community_members.count %></p>
                <%= truncate(strip_tags(c.description.to_s), length: 110) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <h3>Joined communities</h3>
      <div class="user-memberships">
        <div class="communities-parent">
          <% @joined_communities.each do |c| %>
            <div class="community-item">
              <div class="community-img">
                <div>
                  <%= image_tag (c.community.image) if c.community.image.attached? %>
                  <strong><%= link_to c.community.name, community_path(c) %></strong>
                </div>
                  <% if user_signed_in? %>
                    <% if c.community.community_members.find_by(user_id: current_user.id, community_id: c.id) %>
                      <%= link_to 'Leave', membership_community_path(c, type: "leave"), class: 'del-btn', method: :put %>
                    <% elsif c.community.community_member_bans.find_by(user_id: current_user.id, community_id: c.id) %>
                    <% elsif c.community.user.id == current_user.id %>
                    <% else %>
                      <%= link_to 'Join', membership_community_path(c, type: "join"), class: 'join-btn', method: :put %>
                    <% end %>
                <% end %>
              </div>
              <div class="text">
                <p>Members: <%= c.community.community_members.count %></p>
                <%= truncate(strip_tags(c.community.description.to_s), length: 110) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="statsSlides fade">
      <h3>Following</h3>
      <% @following.each do |f| %>
        <div class="follow-item">
          <%= image_tag (f.image) if f.image.attached? %>
          <strong><%= link_to f.username, user_path(f) %></strong>
        </div>
      <% end %>
    </div>

    <div class="statsSlides fade">
      <h3>Followers</h3>
      <% @followers.each do |f| %>
        <div class="follow-item">
          <%= image_tag (f.image) if f.image.attached? %>
          <strong><%= link_to f.username, user_path(f) %></strong>
        </div>
      <% end %>
    </div>

    
    
  </div>
</div>
<script>
<% if request.params[:options].nil? %>
let slideIndex = 1;
<% else %>
let slideIndex = <%= request.params[:options] %>;
<% end %>
showSlides(slideIndex);

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {

  let slides = document.getElementsByClassName("statsSlides");
  
  let statItems = document.getElementsByClassName("stat-item");
  
  if (n > slides.length) {
  	slideIndex = 1
  } 
  
  if (n < 1) {
  	slideIndex = slides.length
  }
  
  for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (let i = 0; i < statItems.length; i++) {
      statItems[i].className = statItems[i].className.replace(" active", "");
  }
  
  slides[slideIndex-1].style.display = "block";  
  statItems[slideIndex-1].className += " active";
}
</script>