<div class="x-book-child">

  <%= image_tag (book.image.variant(resize_to_limit: [100, 100])) if book.image.attached? %>
  <div class="x-book-child-text">
    <h1><%= link_to book.title, book_path(book)%></h1>
    <b><%= link_to book.user.username, user_path(book.user)%></b>
    <h5><%= book.impressionist_count(:filter=>:ip_address) %> views, <%= book.rating %></h5>
    <div class="reactions">
      <%# TODO sort by most occurring emotion %>
      <% book.reactions.distinct.limit(2).pluck(:emotion).each do |e| %>
        <div class="reaction-bubble">
          <p><span><%= book.reactions.where(emotion: e).size %>x</span> <%= e.titlecase %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
