<section>
<h1>Welcome to FreeFiction </h1>
<p>FreeFiction is a writing platform for readers and authors.
  It is about freedom to write and not be restricted for the content you write.
  We won't impose rules on your freedom of creativity.
  It is entirely community driven but with a modern style, and the source code is public too.</p>
<p>Also because FreeFiction is in beta, so please let us know of any encountered bugs.
  Features are being actively worked on so it is far from being a finished product.
  Thank you for understanding and we hope you will enjoy FreeFiction as it continues it's development and grows.</p>
</section>