<div class="paper" id="faq">

<h1>FAQ</h1>
<h4>Last modified: December 27th, 2019</h4>
<h2>General questions</h2>
<h3>What is FreeFiction?</h3>
<p>FreeFiction is a platform for readers and writers to collaborate and share
  their creations with the world.</p>

<p>Because FreeFiction is also open source, any new ideas that members of the
community want are free to request it, or even contribute to the source code and
add features that will benefit the whole community.</p>

<h3>What does "Free" in FreeFiction represent?</h3>
<p>Your freedom of expression. Your freedom of speech. Free, unrestricted access
  to creations. This website is also free in terms of source code which is licensed 
  under the permissive MIT License. Allowing you to freely modify and redistribute 
  the code.</p>
<p>You're also free to make the website into what you want it to be as a writing
  platform. You can freely contribute to the website and add features.</p>
<p>We will not impose paywalls. However, we will occasionally ask for donations 
  to keep the website online if it becomes popular as unfortunately, hosting a 
  website does cost money to keep the server powered on. However, any donations we get 
  will only go towards server costs, upgrading infrastructure, and paying developers 
  for their time to maintain it 24/7 to ensure people have an uninterrupted and enjoyable
  experience.</p>

<h3>Why is this platform free?</h3>
<p>'Free' has two meanings. One meaning is that it is free as in free beer, and the other is
that it is free as in freedom. This platform is free as in free beer, to be used by all users without cost because
we believe in giving everyone equal access to a wide collection of books without submitting everyone
to paywalls and ads.</p>

<p>The reason why this platform is free as in freedom as well is because we believe that there is no reason to hide
the source code. It's free and open source by default. Our source code can be modified by anyone, and you can
host your own FreeFiction server rebadged as something else if you want to for some reason.</p>

<h3>Why are there no ads?</h3>
<p>Ads look very tacky, consume lots of data, and there are countries where data costs a lot of money.
They also add a layer of security issues as they often get used to track users, follow them around the internet, and
sell that data to other companies. We do not want to faciliate this behaviour on our platform.</p> 

<p>If you want to support our platform, then you can donate to our <%= link_to 'patreon', 'https://www.patreon.com/user?u=25116515' %>.

<h3>Why are there no paywalls?</h3>
<p>We do not want to block people from accessing books on this site. Even if we did, people can still find a way around it anyway.</p>

<h3>Can my books be copyrighted on this website?</h3>
<p>You're free to copyright them if you wish. However, we encourage fan-fiction stories 
  derived from your creations. We believe this strengthens your fanbases and allows 
  communities to form, and thus, create more fans for you.</p>
<p>Please note that we will not take down fan-fiction works derived from your creations
  unless it is a plagiarised word for word copy of the original.</p>


<h3>Why are you creating FreeFiction?</h3>
<p>FreeFiction was originally meant to be a little spin-off project to get better at
  web development. But over time, the project started growing, and some authors
  have taken notice and got excited as apparently many of the sites that they
  use don't have the features that they care more about.</p>
<p>I was surprised to know about this, and this has given me more reasons to
  continue pushing this project as far as it needs to go in order for it to be 
  usable.</p>


<h3>Will there be native apps for Android, iOS, etc.?</h3>
<p>At present, no. In fact, we aim to make sure that the website is very usable
  on any web browser so that it runs similarly to a native app.</p>
<p>However, If there are any developers who would like to create a client of
  FreeFiction for any target platform, then you have the freedom to do so.</p>

<h3>I found a weird glitch/bug in the website. How do I report it?</h3>
<p>If you suspect that an unusual behaviour in the website is occuring. Please
  <a href="mailto:freefiction@sansserif.club">send an email</a> or submit an issue in the <a href="https://gitlab.com/freefiction/freefiction/issues">issue tracker</a> with the following
  questions answered:</p>
  <ol>
    <li>What is the best way that you can describe the problem?</li>
    <li>How did you find this issue?</li>
  </ol>

<h3>Do you have plans to add more features in the future?</h3>
<p>Yes we do. Please see the
  <a href="https://gitlab.com/freefiction/freefiction/boards" target="_blank">gitlab board</a> for
  more information.</p>

<p>Also, if you have any ideas or complaints, please feel free to
  <a href="mailto:freefiction@sansserif.club">send an email</a>.</p>


<h2>Community questions</h2>

<h3>What is a communitiy?</h3>
<p>A community is a page that a user can create or join that can range from a
  particular genre, topic, or anything where a number of people
  can get together to discuss and engage with each other about a common
  interest.</p>

<h3>How can I moderate a community that I don't own?</h3>
<p>You can't yet. This is a planned feature assuming this website gets large
  enough to require more people to moderate communities.</p>

<h3>I was banned from a community without a reason. How can I know what I've
  done was wrong?</h3>
<p>That is a very good question. Unfortunately there is no way to know for now.
  However, this will be in the next feature update when we plan on adding
  extensive moderator tools for communities.</p>

<h3>I think I was banned from a community unfairly. I thought this site was
  about freedom of speech!</h3>
<p>If you were banned from a community, then there is a good chance that you
    <a href="https://xkcd.com/1357/" target="_blank">did something wrong.</a></p>
<p>Regardless, FreeFiction does not get involved with community moderator
  decisions unless it is an official community maintained by FreeFiction.
  However, if you were banned from an official community, which should
  not happen. Then you are probably not the right fit for this website.</p>

<h2>Book questions</h2>

<h3>Someone wrote a book that I found offensive. Can you take it down?</h3>
<p>FreeFiction is intentionally created to permit freedom for writers to express
  themselves. Unless the content is plagiarised from elsewhere, we cannot 
  take it down simply because you were offended.</p>

<h3>Someone has doxed someone's/my personal information and has published it on this
  platform.</h3>

<p>Please <a href="mailto:freefiction@sansserif.club">send an email</a> with
  with details about the book and we'll investigate the matter.</p>


<hr>
<h2>Deeper questions</h2>

<h3>Are there any exceptions to deleting content off this platform?</h3>
<p>While technically you can post any content you want to this platform, you should
be aware that any content posted that is deemed very controversial should be kept
off this platform as we will not be a platform that faciliates that.</p>

<p>Any content that is deemed very controversial will be deleted off this website.</p>

<p>We will not provide a list of what you shouldn't post. Just use common sense, please.</p>

<h3>Are all of our books in the source code?</h3>
<p>Source code is code that programmers use to create tools and applications with.
  Source code does not cover the content created with or on said tools and 
  applications. The source code only contains a blueprint of how the website
  functions and how the database should work. Your user data is stored inside the 
  database on the server, which is secured.</p>

<h3>I have a copyright complaint.</h3>
<p>If you are concerned that someone has copied your work onto this site and
  claimed it as their own, then please email us so that we may investigate the
  problem further.</p>

<h3>Can I export my data?</h3>
<p>FreeFiction aims to follow the GDPR as much as possible. Currently we have no
  method for easily exporting your user data. For now, please send us an email
  using the one you use for this site and we will send you all of your data.</p>

<h3>Why can people copy the text from my chapters?</h3>
<p>Unlike other writing platforms, we don't restrict users from copying your text 
  as this is a form of DRM. Users can just disable JavaScript on the website and 
  easily bypass this. Please do not ask us to implement DRM on this website. If 
  this is an issue for you then just don't use FreeFiction.</p>



</div>
