<div style="background-color: #F1F1F1">
  <section style="background-color: transparent">
    <h1>Do you want to help make this platform better?</h1>
    <p>We want your support to help make FreeFiction the best platform on the internet for the writing community!</p>
    <%= link_to 'Join the conversation', 'https://freefiction.xyz/communities/freefiction-suggestions', style: "color: #073b4c" %>
  </section>
</div>

<section>
  <h1>Most Popular</h1>
  <p>Most popular stories</p>
  <div class="x-book-container">
    <% @books.order('impressions_count DESC NULLS LAST').limit(10).each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>

<section>
  <h1><%= link_to "All Books", books_path %></h1>
  <p>Browse all the books!</p>
  <div class="x-book-container">
    <% @books.each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>

<section>
  <h1>New Releases</h1>
  <p>Books that have recently been completed</p>
  <div class="x-book-container">
    <% @books.order('created_at DESC NULLS LAST').where("status = 'completed'").limit(10).each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>

<section>
  <h1><%= link_to "Fiction", books_path(:category => "fiction") %></h1>
  <div class="x-book-container">
    <% @books.order('impressions_count DESC NULLS LAST').where("category = 'fiction'").limit(10).each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>
<section>
  <h1><%= link_to "Fan-Fiction", books_path(:category => "fan fiction") %></h1>
  <div class="x-book-container">
    <% @books.order('impressions_count DESC NULLS LAST').where("category = 'fan fiction'").limit(10).each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>

<section>
  <h1><%= link_to "Non-Fiction", books_path(:category => "non fiction") %></h1>
  <div class="x-book-container">
    <% @books.order('impressions_count DESC NULLS LAST').where("category = 'non fiction'").limit(10).each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>

<section>
  <h1><%= link_to "Poetry", books_path(:category => "poetry") %></h1>
  <div class="x-book-container">
    <% @books.order('impressions_count DESC NULLS LAST').where("category = 'poetry'").limit(10).each do |b| %>
      <%= render partial: 'shared/books', locals: {book: b} %>
    <% end %>
  </div>
</section>
