<section class="book-form">
  <%= form_with model: @book, class: 'big-form', local: true do |form| %>

    <h1>Book details</h1>
    <% if current_page?(action: :new) %>
      <p>Fill in the details about your new book.</p>
      <p>You will be able to create your chapters after this.</p>
    <% end %>
    <div class="field">
      <h3><%= form.label :title %></h3>
      <%= form.text_field :title, autofocus: true, class: "text-field", required: true %>
    </div>
    <div class="field" id="user-bio-edit">
      <h3><%= form.label :description %></h3>
      <div>
        <%= form.rich_text_area :description %>
      </div>
    </div>
    <div class="field">
      <h3><%= form.label :rating %></h3>
      <div>
        <%= form.radio_button :rating, 'Rated B', required: true %>Rated B<br />
        <%= form.radio_button :rating, 'Rated K', required: true %>Rated K<br />
        <%= form.radio_button :rating, 'Rated K+', required: true %>Rated K+<br />
        <%= form.radio_button :rating, 'Rated T', required: true %>Rated T<br />
        <%= form.radio_button :rating, 'Rated M', required: true %>Rated M<br />
        <%= form.radio_button :rating, 'Rated MA', required: true %>Rated MA<br />
        <p>Confused? <a href="https://fanlore.org/wiki/Rating#Fictionratings.com" target="_blank">See here</a></p>
      </div>
    </div>
    <div class="field">
      <h3><%= form.label :image %></h3>
      <div>
        <%= image_tag (@book.image) if @book.image.attached? %>
        <%= form.file_field :image %>
      </div>
    </div>

    <div class="field">
      <h3><%= form.label :status %></h3>
      <div>
        <%= form.radio_button :status, 'ongoing', required: true %>Ongoing<br />
        <%= form.radio_button :status, 'completed', required: true %>Completed<br />
      </div>
    </div>

    <div class="field">
      <h3><%= form.label :category %></h3>
      <div>
        <%= form.radio_button :category, 'fiction', required: true %>Fiction<br />
        <%= form.radio_button :category, 'non fiction', required: true %>Non Fiction<br />
        <%= form.radio_button :category, 'fan fiction', required: true %>Fan Fiction<br />
        <%= form.radio_button :category, 'poetry', required: true %>Poetry<br />
      </div>
    </div>

    <div class="field">
      <h3>Add tags</h3>
      <%= form.text_field :all_tags, placeholder: "Tags separated with comma", class: "text-field" %>
    </div>
    <div class="field">
      <div>
        <h3>Do you want this book to go public?</h3>
        <% if current_page?(action: :new) %>
          <i>(You can change this later)</i>
        <% end %>
      </div>
      <div>
        <%= form.radio_button :public, 'true', required: true %>Yes<br />
        <%= form.radio_button :public, 'false', required: true %>No<br />
      </div>
    </div>
      <p>
    <%= form.submit 'Post', class: "save-btn" %>
    <%= link_to 'Discard changes', url_for(:back) %>
    </p>
  <% end %>
</section>
