section
  .book-header
    h2 Browse
    = form_tag(books_path, method: :get) do
      = text_field_tag(:search, params[:search], placeholder: 'Find Books', class: 'text-field')
      = submit_tag 'Search', class: "save-btn"

    .tag-container
      p Most popular tags
      - @tags.each do |t|
        - if request.params[:tags] == t.name
          = link_to "#{t.name} (#{t.taggings_count})", request.params.except(:tags), class: 'tag-item active'
        - else
          = link_to "#{t.name} (#{t.taggings_count})", request.params.merge(tags: t.name), class: 'tag-item'
      = form_tag(books_path, method: :get) do
        = text_field_tag(:tags, params[:tags], placeholder: 'Search tags', class: 'text-field')
        = submit_tag 'Search', class: "save-btn"


  .book-filtering
    h3 Filter Results
    .search-picker
      .search-selection
        p Status
        - statuses = [["Ongoing", "ongoing"], ["Completed", "completed"]]
        - statuses.each do |s|
          - if request.params[:status] == s[1]
            = link_to s[0], request.params.except(:status), class: 'active'
          - else
            = link_to s[0], request.params.merge(:status => s[1])

    .search-picker
      .search-selection
        p Category
        - categories = [["Non-Fiction", "non fiction"], ["Fiction", "fiction"], ["Fan Fiction", "fan fiction"], ["Poetry", "poetry"]]
        - categories.each do |c|
          - if request.params[:category] == c[1]
            = link_to c[0], request.params.except(:category), class: 'active'
          - else
            = link_to c[0], request.params.merge(:category => c[1])
            
    .search-picker
      .search-selection
        p Rating
        - ratings = ["Rated B","Rated K", "Rated K+", "Rated T", "Rated M", "Rated MA"]
        - ratings.each do |r|
          - if request.params[:rating] == r
            = link_to r, request.params.except(:rating), class: 'active'
          - else
            = link_to r, request.params.merge(:rating => r)
    
    = link_to "Reset Filter", books_path

  .book-list
    p Returned results: #{@books.count}


    .x-book-container
      - @books.each do |b|
        = render partial: 'shared/books', locals: {book: b}

