= content_for(:meta_og) do
  meta content="#{@book.title}" property="og:title" /
  meta content="article" property="og:type" /
  meta content=("#{@book.created_at.strftime('%Y-%m-%d %H:%M')}") property="og:published_time" /
  meta content="#{@book.user.username}" property="og:author" /
  meta content="#{truncate(strip_tags(@book.description.to_s), length: 250)}" property="og:description" /
  - if @book.image
    = tag :meta, property: 'og:image', content: "https://#{request.host_with_port}#{url_for(@book.image)}"
section style="max-width: 60rem"
  h1= @book.title
  .book-info
    = image_tag (@book.image.variant(resize_to_limit: [300,300])) if @book.image.attached?
    = @book.description.to_s
    h5
      = @book.status.capitalize
      | , #{@book.impressionist_count(:filter=>:ip_address)} Views, #{@book.rating}, #{@book.category.capitalize}
    
    br/
    h5
      | Updated: #{@book.updated_at.strftime("%R %d/%m/%Y")}
      br/
      | Created: #{@book.created_at.strftime("%R %d/%m/%Y")}
    br/
    p
      - @book.tags.each do |t|
        | #{t.name}, 
    p Reading time is about #{@reading_time}
    .action-bar
      - if user_signed_in?
        - if current_user.favourites.find_by(id: @book.id)
          = link_to favourite_book_path(@book, type: "unfavourite"), method: :put, id: "favourite" do
            = icon('far', 'star')
            | Unfavourite
        - else
          = link_to favourite_book_path(@book, type: "favourite"), method: :put, id: "favourite" do
            = icon('fas', 'star')
            | Favourite
      - if user_signed_in? && current_user.id == @book.user_id
        = link_to edit_book_path(@book), class: "edit-btn" do
          = icon('fas', 'pen')
          | Edit
        = link_to book_path(@book), method: :delete, data: {confirm: 'Are you sure?'}, class: "del2-btn" do
          = icon('fas', 'trash')
          | Delete

  .list-chapters
    .community-header
      h2 Contents
      - if user_signed_in? && current_user.id == @book.user.id
        = link_to "New Chapter", new_book_chapter_path(@book), class: "primary-btn"

    - counter = 1
    - @book.chapters.each do |c|
      .chapter-item
        = link_to book_chapter_path(@book, c) do
          h3
            | #{counter}: #{c.title}
        - if user_signed_in? && current_user.id == @book.user.id
          .action-bar
            = link_to edit_book_chapter_path(@book, c), class: "edit-btn" do
              = icon('fas', 'pen')
              | Edit
            = link_to book_chapter_url(@book, c), method: :delete, data: { confirm: 'Are you sure?' }, class: "del2-btn" do
              = icon('fas', 'trash')
              | Delete
      - counter += 1
  .book-author
    h2 About the author
    = image_tag(@book.user.image.variant(resize_to_limit: [100, 100]))
    h3= link_to @book.user.username, user_path(@book.user.friendly_id)
    /strong Books written: #{@book.user.books.count}
    p= truncate(strip_tags(@book.user.biography.to_s), length: 200)