<div class="gatekeeper-parent">
  <div class="gatekeeper-text">
    <h1>Welcome to FreeFiction</h1>
    <h3>Unleash your freedom</h3>
  </div>

  <div class="gatekeeper-form">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "text-field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in", class: 'save-btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>

<style>
  .top-bar {
    display: none;
  }
</style>
