<%= form_with model: @chapter, url: { action: "update" }, local: true do |form| %>
<div class="chapter-topbar">
  
  <p>Currently editing <%= link_to @chapter.book.title, book_path(@chapter.book.id) %></p>
  <div>
    <p><%= link_to 'Discard Changes', url_for(:back) %></p>
    <%= form.submit "Create", class: "publish-btn" %>
  </div>
</div>
<div class="paper">
    <div class="paper-title">
      <%= form.text_field :title, autofocus: true %>
    </div>
    <div class="paper-content">
      <%= form.rich_text_area :content %>
    </div>
    <p>

    </p>
  <% end %>
</div>
