<%= form_with(model: @chapter, url: [@book, @chapter], local: true) do |form| %>
<div class="chapter-topbar">
  
  <p>You are creating a new chapter for <%= link_to @chapter.book.title, book_path(@chapter.book.id) %></p>
  <div>
    <p><%= link_to 'Discard Changes', url_for(:back) %></p>
    <%= form.submit "Create", class: "publish-btn" %>
  </div>
</div>
<div class="paper">
    <div class="paper-title">
      <%= form.text_field :title, autofocus: true, value: 'New Chapter Title' %>
    </div>
    <div class="paper-content">
      <%= form.rich_text_area :content, placeholder: 'Once upon a time ago...' %>
    </div>
    <p>

    </p>
  <% end %>
</div>
