<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @chapter.title + ' - ' + @book.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:published_time" content="<%= @book.created_at.strftime('%Y-%m-%d %H:%M') %>" />
  <meta property="og:author" content="<%= @book.user.username %>" />
  <meta property="og:description" content="<%= truncate(strip_tags(@chapter.content.to_s), length: 50) %>" />
  <% if @book.image %>
      <%= tag :meta, property: 'og:image', content: "#{request.host_with_port}#{url_for(@book.image)}" %>
  <% end %>
<% end %>
<div class="book-bar">
  <div class="book-dropdown">
      <div class="chapter-back">
        <%= link_to book_path(@book) do %>
          <i class="material-icons">arrow_back_ios</i>
        <% end %>
      </div>
    <button name="button" type="button" id="book-dropdown">
      <%= image_tag (@book.image.variant(resize_to_limit: [50, 50])) if @book.image.attached? %>
      <div class="flex-column">
        <h3><%= @book.title %></h3>
        <p>By <%= link_to @chapter.book.user.username, user_path(@book.user) %></p>
      </div>
      <i class="material-icons">arrow_drop_down</i>
    </button>
    <div id="book-dropdown-content">
      <% @book.chapters.each do |c| %>
        <%= link_to book_chapter_path(@book.id, c.id) do %>
          <div class="dropdown-child">
            <%= c.title %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="controls">
    <% if user_signed_in? && current_user.id == @book.user_id %>
      <%= link_to "Edit", edit_book_chapter_path(@book, @chapter) %>
      <%= link_to 'New Chapter', new_book_chapter_path(@book) %>
      <%= link_to 'Delete',
         book_chapter_url(@book, @chapter),
         method: :delete,
         data: { confirm: 'Are you sure you want to delete this chapter?' } %>
    <% end %>
  </div>
</div>
<div class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>
<section>
  <div class="paper" id="chapter">
    <div class="paper-title">
      <h1><%= @chapter.title %></h1>
    </div>
    <div class="paper-content">
      <%= @chapter.content %>
    </div>
  </div>
  <div class="pagination">
    <% counter = 0 %>
    <div class="pagination-item">
      <%= link_to 'Prev', book_chapter_path(@book.id, @chapter.prev) if @chapter.prev %>
      <% @book.chapters.each do |c| %>
        <% counter += 1 %>
        <%= link_to counter, book_chapter_path(@book.id, c.id) %>
      <% end %>
      <%= link_to 'Next', book_chapter_path(@book.id, @chapter.next) if @chapter.next %>
    </div>
  </div>
	<div class="feedback">
		<h2>Feedback</h2>
    <div class="feedback-container">
      <% if user_signed_in? && @created_feedback %>
        <div class="created-feedback">
					<strong>Your feedback</strong>
					<table>
						<% [:opening, :character_development, :story_logic, :dialogue, :originality, :conclusion, :grammar, :show_not_tell].each do |f| %>
							<tr>
								<td><%= f.to_s.humanize %></td>
								<td>
									<% (@created_feedback[f].to_i).times do |n| %>
										<%= icon('fas', 'star') %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</table>
          <%= link_to 'Delete your feedback', feedback_path(@created_feedback.id, :chapter_id => @chapter.id), method: :delete %>
        </div>
			<% elsif user_signed_in? %>
				<div class="new-feedback">
					<p>Let the writer know how their chapter is</p>
					<%= form_with model: @feedback,  local: true do |r| %>
						<% [:opening, :character_development, :story_logic, :dialogue, :originality, :conclusion, :grammar, :show_not_tell].each do |f| %>
							
							<div class="rate">
							<%= "#{f.to_s.humanize}" %>
								<% 5.times.reverse_each do |c| %>
									<%= r.radio_button f, (c + 1) %>
									<%= r.label f, "#{c + 1} stars", title: 'text', for: "feedback_#{f}_#{c + 1}" %>
								<% end %>
								</div>
						<% end %>   
						<%= hidden_field_tag 'chapter_id', @chapter.id %>
						<%= r.submit 'Submit Feedback', class: "publish-btn" %>
					<% end %>
				</div>
			
			<% else %>
				<div class="new-feedback">
				<i>You need to be logged in to give feedback</i>
				</div>
			<% end %>
			<div class="received-feedback">
				<strong>Feedback average (<%= @chapter.feedbacks.count %>)</strong>
				<table>
					<% [:opening, :character_development, :story_logic, :dialogue, :originality, :conclusion, :grammar, :show_not_tell].each do |f| %>
						<tr>
							<td><%= f.to_s.humanize %></td>
							<td><%= @chapter.feedbacks.average(f) %>/5</td>
						</tr>
					<% end %>
				</table>
			</div>
    </div>

    <div class="reaction-container">
      <h2>Reactions</h2>
      <div class="reactions">
        <% @reactions.distinct.pluck(:emotion).each do |e| %>
          <div class="reaction-bubble">
            <p><span><%= @reactions.where(emotion: e).size %>x</span> <%= e.titlecase %></p>
          </div>
        <% end %>
        <% if @chapter.reactions.empty? %>
          <i>There are no reactions yet. Be the first to react to this chapter and give the writer some feedback</i>
        <% end %>
      </div>
      <% if user_signed_in? && current_user.reactions.find_by(chapter_id: @chapter.id) %>
        <h3>Your reaction</h3>
        <p>This chapter made you <%= @reactions.find_by(user_id: current_user.id).emotion %>.</p>
        <%= link_to reaction_path(@reactions.find_by(user_id: current_user.id), :chapter_id => @chapter.id), method: :delete do %>
          <p>Delete</p>
        <% end %>
			<% elsif user_signed_in? %>
        <strong>React to this chapter</strong>
        <%= form_with model: @reaction,  local: true do |r| %>
          <%= r.radio_button :emotion, 'happy' %>
          <%= r.label :emotion_happy, 'Happy' %>
          <%= r.radio_button :emotion, 'excited' %>
          <%= r.label :emotion_excited, 'Excited' %>
          <%= r.radio_button :emotion, 'sad' %>
          <%= r.label :emotion_sad, 'Sad' %>
          <%= r.radio_button :emotion, 'bored' %>
          <%= r.label :emotion_bored, 'Bored' %>
          <%= r.radio_button :emotion, 'angry' %>
          <%= r.label :emotion_angry, 'Angry' %>
          <%= r.radio_button :emotion, 'scared' %>
          <%= r.label :emotion_scared, 'Scared' %>
          <%= r.radio_button :emotion, 'love' %>
          <%= r.label :emotion_love, 'Love' %>
          <%= r.radio_button :emotion, 'laugh' %>
          <%= r.label :emotion_laugh, 'Laugh' %>
          <%= r.radio_button :emotion, 'confused' %>
          <%= r.label :emotion_confused, 'Confused' %>
          
          <%= hidden_field_tag 'chapter_id', @chapter.id %>
          <%= r.submit 'React', class: "save-btn" %>
				<% end %>
			<% else %>
					<i>You need to be logged in to react to this chapter</i>
      <% end %>
    </div>
  </div>

  <div class="comments-container" id="comments">
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
      <div class="comment-child">
        <div class="commenter">
          <%= image_tag (comment.user.image.variant(resize_to_limit: [50, 50])) if comment.user.image.attached? %>
          <strong><%= link_to comment.user.username, user_path(comment.user) %></strong>
          <p> said on <%= comment.created_at.strftime("%B %d %Y") %></p>
        </div>
        <div class="comment-body">
          <p><%= simple_format(comment.body) %></p>
          <% if (user_signed_in? && current_user == comment.user) || (user_signed_in? && current_user.id == @book.user_id) %>
            <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
      </div>
		<% end %>
		<% if !user_signed_in? %>
			<i>You need to be logged in to comment</i>
		<% end %>
    <div class="comment-box">
      <% if current_user %>
        <%= render partial: 'comments/form', locals: { commentable: @chapter } %>
      <% end %>
    </div>
  </div>
</section>
<script>
document.getElementById("content").addEventListener("scroll", myFunction);

function myFunction() {
  let winScroll = document.getElementById('content').scrollTop || document.documentElement.scrollTop;
  let height = document.getElementById('chapter').scrollHeight - document.documentElement.clientHeight;
  let scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}


document.addEventListener('DOMContentLoaded', function () {
  let bookdropdown = document.getElementById("book-dropdown");
  let userdropdown = document.getElementById("user-dropdown");
  let bookcontent = document.getElementById("book-dropdown-content");
  let usercontent = document.getElementById("user-dropdown-content");

  function bookShowList() {
    if (bookcontent.style.display == '' || bookcontent.style.display == "none"){
      bookcontent.style.display = "flex";
    } else {
      bookcontent.style.display = "none";
    }

  }

  function userShowList() {
    if (usercontent.style.display == '' || usercontent.style.display == "none"){
      usercontent.style.display = "flex";
    } else {
      usercontent.style.display = "none";
    }

  }

  if (userdropdown) {
    userdropdown.addEventListener("click", userShowList);
  }
  if (bookdropdown) {
    bookdropdown.addEventListener("click", bookShowList);
  }

})


</script>