<%= form_for [@community, @post], local: true do |form| %>
    <%= form.rich_text_area :content, autofocus: true, placeholder: 'Create a post...' %>
    <%= form.submit 'Post', class: "save-btn" %>
<% end %>
