<div id="edit-post">
  <%= form_with model: @post, url: { action: "update" }, local: true do |form| %>
    <%= form.rich_text_area :content, autofocus: true %>
    <%= form.submit 'Update Post', class: "save-btn" %>
  <% end %>
</div>
