// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin {
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    tr:nth-child(even) {
        background-color: rgba(0,0,0,.1);
    }

    td, th {
        padding: 10px;

        .del-btn {
            margin: 0px;
        }

    }


}

table.green {
    th {
        text-align: left;
        background-color: #22ad0f;
        color: white;
    }

}

table.red {
    th {
        text-align: left;
        background-color: #ad0f0f;
        color: white;
    }
}

table.blue {
    
    th {
        text-align: left;
        background-color: #0f70ad;
        color: white;
    }
}