/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

i {
  .fab, .fas {
    font-size: 24px;
  }
}

// override chrome
input {
  outline: none;
}

.notice {
  padding: 10px;
  background: rgba(0, 119, 255, 0.7);
  color: rgba(0,0,0,.8);
}

.alert {
  padding: 10px;
  background: rgba(255,0,0,.7);
  color: rgba(0,0,0,.8);
}

html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0px;
}

@media (max-width: 375px) {
  .search-bar input {
    max-width: 140px;
  }
}

@media (max-width: 425px) {
  .mobile-logo {
    display: relative;
  }
  .desktop-logo, .search-bar {
    display: none;
  }

  .x-book-child {
    max-width: 100vw;
  }

  .field {
    flex-direction: column;

    .trix-button--icon {
      width: 100% !important;
    }
  }
  
}

@media (max-width: 515px) {
  #nomobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-bar {
    display: none;
  }
}

@media (min-width: 768px) {
  #hamburger-trigger {
    display: none;
  }
  .top-bar {
    display: flex;
  }
  section {
    margin-left: 40px;
  }

  .main-content {
    margin-left: 250px;
  }
}

@media (max-width: 1024px){
  section {
    width: 100vw;
    padding: 0px;
  }
  section > * {
    padding: 0px 10px;
  }
}

@media (min-width: 425px){
  .mobile-logo, .mobile.top-bar {
    display: none;
  }


  .desktop-logo {
    display: flex;
    align-items: center;
  }
  .field {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .search-bar input {
    width: 250px;
  }
}
/* automatically set the colour depending on user dark/light choice
@media (prefers-color-scheme: light) {
  #content {

    color: white;
    background: black;

    section, div {
      background: black;
    }
  }
    
}

@media (prefers-color-scheme: dark) {
  #content {
    color: black;
  }
    
}
*/

#hamburger-trigger {
  position: absolute;
  z-index: 100;
  outline: none;
  border: none;
  right: 10px;
  background: none;
  color: black;

  h1 {
    font-size: 30px;
    margin: 10px;
  }

  &:hover {
    color: #3ee860;
  }
}

textarea {
  border-radius: 5px;
  border: 1px solid #AAA;
  padding: 5px;
}

textarea:focus {
  border: 1px solid #3ee860;
}

section {
  width: auto;

  * {
    box-sizing: content-box;
  }

  > h1 {
    font-size: 2em;
    color: #073b4c;

    > a {
      color: inherit;
    }
  }

}

body {
  font-family: 'Nimbus Sans', sans-serif;
  margin: 0;
  align-items: center;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  /*background-color: #eaeaea;*/
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;

}

footer > a {
  color: black;
}

h1 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.text-field {
  border: none;
  padding: 5px 0px;
  font-size: 20px;
  border-bottom: 1px solid black;

}

.text-field:focus {
  border-bottom: 1px solid #3ee860;
  transition: all .2s ease-in-out;
}

#user-dropdown {
  align-items: center;
  display: flex;
  border: none;
  text-align: left;
  background-color: #073b4c;
  color: white;
  height: 40px;
}

#user-dropdown > h3, h4, h5, h6 {
    margin: 0px;
}

#user-dropdown > img {
    background-color: #333;
    object-fit: cover;
    width: 30px;
    height: 30px;
}

#user-dropdown-content {
  display: none;
  color: black;
  position: absolute;
  flex-direction: column;
  width: 200px;
  top: 40px;
  right: 0px;
  background-color: white;
}



.main-content {
  height: 100vh;
  width: 80vw;
  overflow: scroll;
  overflow-x: hidden;
  flex-grow: 2;

}

.top-bar {
  background-color: #073b4c;
  height: 40px;
  color: white;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  overflow-x: auto;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  font-weight: 800;
}

.top-bar a:hover:not(.linear-wipe) {
  text-decoration: none;
  background: rgba(255,255,255,.1);
  border-radius: 5px;
}

.top-bar > #bottom {
  background: linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.1) 100%);
}

.top-bar > div {
  display: flex;
  flex-direction: column;
}

.top-bar > div > a, .top-bar div > a {
  display: flex;
  align-items: center;
}

#new-book {
  text-decoration: none;
  width: 60%;
  height: 25px;
  font-weight: 800;
  color: #073b4c;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  border-radius: 30px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  opacity: .9;


}

.search-bar input {
  border-radius: 15px;
  border: none;
  padding-left: 10px;
}

.search-bar i {
  background-color: white;
  color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.top-bar a {
  color: inherit;
}

#user-tray {
  display: flex;
  justify-content: center;

}

#new-book-div {
  display: flex;
  justify-content: center;
}

.top-bar h1 > a:hover {
  text-decoration: none;
}

.top-bar h1, .top-bar p {
  margin-bottom: 0px;
}

.top-bar * { margin-top: 0px; padding: 5px;}

.top-bar img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
  padding: 0px;
}

.mobile.top-bar input {
  width: 240px;
}

.user-bar, .user-bar > a {
  display: flex;
  align-items: center;
}

.action-bar {
  display: flex;
  > * {
    margin: 0px 5px;
  }
}

.edit-btn {
  color: #2196F3;
  display: flex;
  text-align: center;
  flex-direction: column;
  &:hover {
    text-decoration: none;
  }
  
  p {
    margin: 0px;
    font-size: 1rem;
  }
}

#favourite {
  color: #b5c900;
  display: flex;
  text-align: center;
  flex-direction: column;
  &:hover {
    text-decoration: none;
  }
  
  p {
    margin: 0px;
    font-size: 1rem;
  }
}

.new-btn {
  color: #3ee860;
}

.del2-btn {
  color: #ef476f;
  display: flex;
  flex-direction: column;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  
  p {
    margin: 0px;
    font-size: 1rem;
  }
}


.save-btn {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Nimbus Sans', sans-serif;
  border: none;
  background-color: #2196F3;
  color: white;
  height: 30px;
  width: auto;
  border-radius: 5px;
}
.save-btn:hover {
  background-color: #2167F3;
}

.publish-btn {
  font-family: 'Nimbus Sans', sans-serif;
  background-color: #3ee860;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  color: white;
  height: 30px;
  width: auto;
  border-radius: 5px;
}

.publish-btn:hover {
  background-color: #33be4f;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 50px;
  overflow: auto;

  p {
    padding-left: 2px;
    border-radius: 10px;
    margin: 0px;
  }
}

/* The progress bar (scroll indicator) */
.progress-container {
  width: 100%;
  height: 4px;
  position: fixed;
  top: 60px;
}

.progress-bar {
  height: 3px;
  background: #3ee860;
  width: 0%;
}

/* needs cleanup */

.field {
  display: flex;
}

.field > img, form > img {
  max-height: 150px;
}

/* This is to force newlines for dumb button text! */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.x-book-container {
  display: flex;
  flex-wrap: wrap;
}

.x-book-child > img {
  margin-right: 10px;
  max-height: 100px;
}

.x-book-child {
  display: flex;
  width: 350px;
  max-width: 390px;
  flex-grow: 2;
  margin-bottom: 10px;
  margin-right: 10px;
}

.x-book-child-text > h1, .book-text > h1 {
  margin: 0px;
}

.x-book-child-text b > a, .x-book-child-text b, .book-text b > a, .book-text b {
  color: rgba(0,0,0,.5);
}

.x-book-child-text > .trix-content {
  overflow: auto;
  overflow-x: hidden;
  max-height: 90px;
}

/* Fancy rainbow */

.linear-wipe:hover {
  text-align: center;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ee2400);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: ease, 1s;
  -webkit-animation: shine 1s linear infinite;
          animation: shine 1s linear infinite;
}

.paper-content > .trix-content {
  font-family: 'Source Serif Pro', serif;
}

.pagination {

}

.chapter-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.chapter-back a {
  color: grey;
}

.chapter-back a:hover {
  text-decoration: none;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.left-align-nav {
  display: flex;
  align-items: center;
}

.small-info {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}


.primary-btn {
  border-radius: 30px;
  font-weight: 800;
  background: #073b4c;
  color: white;
  padding: 15px;

  &:hover {
    text-decoration: none;
  }
}

.secondary-btn {
  border-radius: 30px;
  font-weight: 800;
  text-align: center;
  background: purple;
  color: white;
  padding: 15px;

  &:hover {
    text-decoration: none;
  }
}

.del-btn {
  border-radius: 30px;
  font-weight: 800;
  background: red;
  color: white;
  padding: 15px;

  &:hover {
    text-decoration: none;
  }
}



.join-btn {
  border-radius: 30px;
  font-weight: 800;
  background: #073b4c;
  color: white;
  padding: 15px;

  &:hover {
    text-decoration: none;
  }
}


.big-form {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  justify-content: space-between;

  .trix-button-row {
    flex-wrap: nowrap;

  }

  trix-editor {
    border: 1px solid rgba(0,0,0,.3);
    width: 94%;

  }
  .trix-button--icon {
    max-width: .3em;
    min-width: .3em;
    height: 2em;
    padding: 0 0.5em;
  }

  .field {
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;

    > * {
      max-width: 20em;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

input[type=color] {
  width: 100%;
  border: none;
  height: 60px;
  max-width: 350px;
  // Force border bottom style to not show here from textarea element
  border-bottom: none !important;
}