// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 512px) {
  .book-bar > .controls {
    display: none;
  }
}

@media (max-width: 768px) {
  .book-img > img {
    height: 200px !important;
    width: 130px !important;
    object-fit: cover;
  }
  .book-bar {
    width: 100vw;
  }

  .book-filtering {
    float: none !important;
  }

  .search-selection > a {
    display: inline !important;
  }
  .search-selection > p {
    display: block !important;
  }

}

@media (max-width: 1200px) {
  .paper, .book-list, .book-info {
    max-width: 100vw;
  }

}

@media (min-width: 1000px) {
  .book-form {
    max-width: 800px;
  }
}

.book-info {
  background-color: white;
  img {
    float: left;
    margin-right: 5px;
  }
  .trix-content {
    padding: 0px;
  }
}

.book-info, .list-chapters, .book-author {
  min-height: 300px;
}

.book-list {
  margin-top: 50px;
  background-color: white;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.book-items {
  display: flex;
  margin: 15px;
}

.book-img > img {
  max-width: 130px;
  max-height: 260px;
  object-fit: cover;
}
.book-text {
  margin: 10px;
}

.book-text > h1 {
  margin: 0;
}

.book-text > .trix-content {
  overflow-y: auto;
  max-height: 200px;
}

.book-author {
  img {
    margin-right: 5px;
    float: left;
  }
  h3 {
    margin-top: 0px;
  }
}

.book-bar {
  p {
    margin: 0px;
  }
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  img {
    max-height: 50px;
  }
  .book-dropdown {
    align-items: center;
    display: flex;
    margin-right: 10px;
  }
}

.list-chapters {
  background-color: white;
}

.list-chapters > h2, .list-chapters > p {
  margin-left: 10px;
}

.chapter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }

  h3 {
    display: inline;
  }
}


section {
  padding: 20px;
  align-items: center;
  background-color: white;
  width: 1100px;
}

#book-description-form > trix-editor {
  border: 1px solid black;
  max-width: 590px;
}

#book-description-form > trix-toolbar {
  background-color: none;
}

#book-description-form > trix-toolbar * {
  background-color: white;
}



.book-filtering {
  background: rgb(228, 228, 228);
  padding: 15px;
  float: right;
}

.search-selection > p {
  width: 80px;
  display: inline-block;
  padding: 4px;
  margin: 0px;

}

.search-selection > a {
  background: white;
  padding: 5px;
  display: block;
  margin-top: 10px;
}

.search-selection > a:hover {
  background: #a8a8a8;
  text-decoration: none;
}

.search-selection .active {
  background: #2196f3;
  color: white;
}


.search-selection .active:hover {
  background: red;
  color: white;
  text-decoration: none;
}


.search-picker {
  margin: 15px 0px;
}
.tag-container {
  a.tag-item {
    border-radius: 10px;
    padding: 6px;
    margin-right: 5px;
    background: #e4e4e4;
  
    &:hover {
      text-decoration: none;
      background: #a8a8a8;
    }
  
  }

  .save-btn {
    background: #e4e4e4;
    color: black;

    &:hover {
      background: #a8a8a8;
    }
  }


  a.active {
    background: #2196f3;
    color: white;
  }

  a.active:hover {
    background: red;
    color: white;
    text-decoration: none;
  }
}
