// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 1024px) {
  .chapter-topbar, .paper {
    max-width: 100vw;
  }
  .trix-content, .paper-title {
    padding: 0px 10px;
  }
}



@media (min-width: 768px) {
  .paper {
    padding: 60px 40px 40px 40px;
  }

}

@media (max-width: 768px) {
  .paper {
    margin-top: 30px;
  }
}

@media (min-width: 425px) {
  #book-dropdown-content {
    min-width: 350px;  
  }
  
}

@media (max-width: 425px) {
  #book-dropdown-content {
    width: 100%;
  }
}

.chapter-topbar {

  a {
    text-decoration: none;
    color: #666;
  }
  min-height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  justify-content: space-between;
  margin-bottom: 10px;

  > div {
    display: flex;

    > p {
      margin-right: 20px;
    }
  }
}


.paper {
  background-color: white;
  //width: 925px;
  max-width: 50em;
  margin-bottom: 20px;
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.paper-content {
  font-size: 18px;
}


.paper-title > input {
  font-size: 30px;
  border: none;
  margin: 10px 0px;
  font-family: 'Source Serif Pro', serif;
  width: 100%;
}

.paper-title h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.2rem;
}

.controls {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

/* Move this to application.css file */
#book-dropdown {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 5px;
  border: none;
  text-align: left;
  background-color: white;

  img {
    margin-right: 5px;
  }
  h3, h4, h5, h6 {
    margin: 0px;
  }
}

#book-dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 60px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-child {
  padding: 10px;
}

#book-dropdown:hover, .dropdown-child:hover {
  background-color: #e8e8e7;
}
