// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 600px) {
  .new-community-post-comment textarea {
    width: 39em;
  }

  .community-header {
    justify-content: space-between;
  }

  
}

@media (max-width: 420px) {
  .community-header {
    justify-content: space-between;
  }

  .community-buttons > * {

    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 600px) {
  .new-community-post-comment textarea {
    width: 97vw;
  }

  .community-idk {

    h1 {
      text-align: center;
    }
  }

  .community-buttons {
    justify-content: center;
  }

  .community-idk {

    h1 {
      text-align: center;
    }
  }

  .community-buttons {
    justify-content: center;
  }

  .community-info {
    justify-content: center;
  }
  
  
  
}

.community-post-container {
  max-width: 50em;
  width: 100%;
}

#new_post > trix-editor, #edit-post > form > trix-editor {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0px;
}

#new_post .save-btn {
  margin: 0px;
  border-radius: 0px;
  height: 40px;
}

.community-new-post {
  max-width: 50em;
  margin-top: 20px;

  .trix-button-row {
    flex-wrap: nowrap;
  }
}

.communities-parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0px;

  td > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }
    


  .community-img {
    display: flex;
    align-items: center;
    padding: 5px;

    strong {
      max-width: 250px;
      flex-grow: 2;
    }

    img {
      flex-grow: 1;
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }
  }

}
.community-show {
  display: flex;
  flex-direction: column;
  align-items: center;  p {
    margin: 0px;
  }
  width: 100%;

}

.community-img {
    display: flex;
    object-fit: cover;
    background-size: 100%;
    background-position: center;
    width: 100%;

    strong {
      font-size: 18px;
    }

    > div {
      display: flex;
      align-items: center;
      width: 80%;
    }

    .join-btn, .del-btn {
      padding: 10px 10px;
    }

    img {
      margin-right: 5px;
      max-width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 100px;
    }

}

.community-post {
  margin-top: 20px;
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.community-item {
  max-width: 400px;
  background: white;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0,0,0,.1);

  .text {
    margin: 5px;
  }

}

.community-post-content {
  max-width: 50em;
  padding: 10px;
  font-size: 20px;

  .trix-content {
    padding: 0px;
  }
}

.new-community-post-comment {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0,0,0,.1);
  border-top: 0px;

  textarea {
    border: 0px;
    resize: none;

    &:focus {
      border: 0px;
    }
  }

  button {
    margin: 0px;
    height: 40px;
    border-radius: 0px;
  }
}

.community-post-comment {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-grow: 2;
  border: 1px solid rgba(0,0,0,.1);
  border-top: 0px;

  > * {
    padding: 10px;
  }

  p {
    font-size: 16px;
    margin: 0px;
  }

  img {
    max-width: 50px;
  }
}

.post-comment-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
  

  .post-comment-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5, h6 > a {
      color: rgba(0,0,0,.6);
    }

  }

}

.community-poster {
  display: flex;
  max-width: 50em;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;

  h5, h6 > a {
    color: rgba(0,0,0,.6);
  }

  > div:first-child {
    display: flex;
  }

  
  img {
    max-width: 50px;
    margin-right: 10px;
  }

}

.members {
  display: flex;
  flex-wrap: wrap;
  a {
    display: flex;
  }
}

.members img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 5px;
}

.community-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > :first-child {
    margin-right: 20px;
  }

}

.community-idk {
  display: flex;
  flex-direction: column;
  max-width: 50em;
  margin: 0px 10px;
  
  h1 {
    margin: 0px;
    margin-bottom: 20px;
  }


}

.community-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 50em;
  width: 100%;
  padding: 20px 0px;

  .trix-content {
    margin-top: 20px;
  }

  img {
    margin-left: 10px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
  }

  background-color: white;
}


.community-body {
  display: flex;
  flex-wrap: wrap;
}

.community-banner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 60px;
  object-fit: cover;
  background-size: 100%;
  background-position: center;

}

.member-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
}

.member {
  display: flex;
  align-items: center;
}

.members-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-item {
  width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  max-height: 50px;
  justify-content: space-between;

  &:hover {
    background: rgba(0,0,0,.1);
  }

  p, h3 {
    margin: 0px;
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
}

.post-item {
  margin: 20px 0px;


  .post-author {
    display: flex;
    margin-bottom: 10px;
    h6 {
      opacity: .7;
    }
  }

  h5 {
    opacity: .5;
  }
  img {
    max-width: 50px;
    margin-right: 10px;
  }
}

.post-comment-box {
  margin-top: 20px;
  display: flex;
  div > img {
    height: 30px;
    margin-right: 5px;
  }

}


.community-header {
  h1 {
    font-size: 2em;
    color: #073b4c;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.community-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .trix-content {
    max-width: 50em;
  }
}

.community-cover {
  width: 100%;
  overflow: hidden;
  min-height: 100px;
  max-height: 600px;
  display: flex;
  justify-content: center;

  img {
    height: 100%;

  }
}
