// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 1000px) {
  .comments-container {
    width: 100vw;

    textarea {
      max-width: 500px;
    }
    .actions > .save-btn {
      width: 100vw;
    }

  }
}

@media (min-width: 1000px) {
  .comments-container {
    width: 800px;

    textarea {
      width: 93%;
    }

    .actions > .save-btn {
      width: 200px;
    }
  }
}

.comments-container {
  background-color: white;
  padding: 0px;
  img {
    max-width: 50px;
    margin-right: 5px;
  }
  textarea {
    height: 100px;
  }

}

.commenter {
  display: flex;
  align-items: center;
  strong {
    margin-right: 5px;
  }
}
