.feedback-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #073b4c;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #0e6886;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: black;
    }

    form {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    table {
        background-color: #e4e4e4;
        border: 1px solid rgba(0,0,0,.2);
        tr {
            border-bottom: 1px solid rgba(0,0,0,.2);
        }
        tr:nth-child(2n) {
            background-color: rgba(0,0,0,0);
        }
    }

}

.created-feedback {
    i {
        color: #073b4c; 
    }
    table {
        td:first-child {
            width: 150px;
        }
        max-width: 400px;
    }

}