.reaction-container {

    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 800px;

        .save-btn {
            margin: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: #073b4c;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
        > * {
            flex-grow: 2;
        }
    }

    input[type=radio] {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    
    label {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 8px 16px;
        margin-right: -1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        
        transition: all 0.1s ease-in-out;
    }
    
    label[type=radio]:hover {
        cursor: pointer;
    }
    
    input[type=radio]:checked + label {
        background-color: #3ee860;
        box-shadow: none;
    }
    
    label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    


}

.reactions {
    display: flex;
}

.reaction-bubble {
    p {
        background: #073b4c;
        padding: 5px 5px;
        border-radius: 15px;
        color: white;
        margin: 10px;
        font-size: 11px;

        &:first-child {
            margin-left: 0px;
        }
    
        &:last-child {
            margin-right: 0px;
        }

        span {
            background: white;
            padding: 0px 5px;
            border-radius: 15px;
            color: #073b4c;
        }
    }
}