// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 425px) {
  .gatekeeper-form {
    width: 100vw;

    .field {
      justify-content: space-between;
      input {
        margin: 10px 0px;
      }
    }

  }
  .stat-item p {
    font-size: 12px;
  }
  .statsSlides {
    margin: 10px;
  }

}

@media (min-width: 425px) {
  .gatekeeper-form {
    .field > input {
      margin: 10px;
    }
  }
  .statsSlides {
    margin: 30px 90px;
  }
}

@media (max-width: 768px) {
  .user-container {
    flex-direction: column;
    align-items: center;

    .user-stuff h2 {
      text-align: center;
    }

    .communities-parent {
      justify-content: center;
    }
  }

  .user-info > * { 
    margin-left: 20px;

  }
  .user-info {
    margin-top: 300px;
  }
  
  .user-cover-relative {
    left: 0px;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}


@media (min-width: 769px) {
  .user-info {
    > * {
      max-width: 50rem;
      margin-right: 100px;
      margin-left: 100px;
    }
  }


  .user-cover-relative {
    left: 100px;
    flex-direction: row;
    align-items: flex-end;
    max-width: 800px;

    h1, p {
      position: relative;
      top: -15px;
      left: 20px;
      margin: 0px;
    }

    .primary-btn {
      margin-left: 50px;
    }
  }
  .user-info {
    margin-top: 100px;
  }
}

@media (max-width: 1200px) {
  .user-container {
    max-width: 100vw;
  }
  .user-info {
    flex-shrink: 0;
  }
}

@media (min-width: 1000px) {
  .user-form {
    max-width: 800px;
  }
}


.statsSlides {
  min-height: 450px;
}
.user-container {
  
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;

}

.user-cover {
  height: 200px;
  width: inherit;

  .user-cover-relative {
    position: relative;
    display: flex;
    min-height: 200px;
    top: 100px;
    
    p {
      margin-top: 10px;
    }
  }

  img {
    max-width: 200px;
    max-height: 200px;
    
  }

}



.user-stats {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background: white;

  > .stat-item {
    border-bottom: 3px solid white;
    cursor: pointer;
    transition: border-bottom 0.2s ease-in;
  }

  > .active, .stat-item:hover {
    border-bottom: 3px solid #073b4c;

    strong {
      color: #073b4c;
    }
  }

  p, strong {
    margin: 0px;
    padding: 0px 10px;
    color: #073b4caa
  }

  strong {
    font-size: 20px;
    
    
  }
}

.user-stuff {
  width: inherit;
  background: #eaeaea;

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}

.user-books {
  display: flex;
  flex-wrap: wrap;
}
.user-memberships {
  display: flex;
  max-width: 850px;
}


.user-info {
  width: inherit;
  display: flex;
  flex-direction: column;

  
  
  h1 {
    margin-bottom: 0px;
  }
  .trix-content {
    padding: 0px;
  }
}

.user-items {
  display: flex;
  margin: 0px 10px;
  flex-direction: column;
  max-width: 200px;

  p {
    margin: 0px;
  }
}

.gatekeeper-text {
  color: white;
}

.gatekeeper-form {
  background-color: white;
  padding: 20px;

  .field {
    justify-content: space-between;

  }
}

.user-book-img img {
  width: 200px;
}

.gatekeeper-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #073b4c;
  position: absolute;
  left: 0;
  flex-wrap: wrap;
}

.actions > .save-btn {
  width: 100%;
}

#user-bio-edit > trix-editor {
  border: 1px solid black;
}

#user-bio-edit > trix-toolbar {
  background-color: none;
}

#user-bio-edit > trix-toolbar * {
  background-color: white;
}

#user-bio-edit {
  
  trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: 0vw;
  }
}
  

#edit_user {
  margin: 0px 10px;
}

.follow-item {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  align-items: center;
  img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

#relationship-yes, #relationship-no {
  padding: 10px;
  border-radius: 100px;
  color: white;
  font-weight: 800;
  margin-left: 50px;
  margin-bottom: 30px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  
}

#settings-btn {
  margin-left: 50px;
  margin-bottom: 30px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
  color: #0b1bff;
  border: 3px solid #0b1bff;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 5px;
  }


  &:hover {
    text-decoration: none;
    color: white;

    background: linear-gradient(90deg, #0b1bff 0%, #002ead 100%);
  }
}

#relationship-yes {
  border: 3px solid #46fc90 !important;
  color: #46fc90;
  &:hover {
    text-decoration: none;
    background: #46fc90 !important;
    color: white;
  }
}

#relationship-no {
  color: #fc4646;
  border: 3px solid #fc4646 !important;

  &:hover {
    text-decoration: none;
    background: #fc4646;
    color: white;
  }
}