<section class="community-form">
  <%= form_with model: @community, class: 'big-form', local: true do |form| %>

    <% if current_page?(action: :new) %>
      <h1>Start your own community!</h1>
    <% else current_page?(action: :edit) %>
      <h1>Edit your community</h1>
    <% end %>

    <div class="field">
      <h3><%= form.label :name %></h3>
      <%= form.text_field :name, autofocus: true, class: "text-field", required: true %>
    </div>

    <div class="field" id="user-bio-edit">
      <h3><%= form.label :description %></h3>
      <div>
        <%= form.rich_text_area :description %>
      </div>
    </div>

    <div class="field">
      <h3><%= form.label :image %></h3>
      <div>
        <%= image_tag (@community.image) if @community.image.attached? %>
        <%= form.file_field :image %>
      </div>
    </div>


    <div class="field">
      <div>
        <h3><%= form.label 'Banner color' %></h3>
        <p>Select a colour for the banner.</p>
      </div>
      <%= form.color_field :color, autofocus: true, class: "text-field", required: true %>
    </div>

    <div class="field">
      <h3><%= form.label 'Banner image' %></h3>
      <div>
        <%= image_tag (@community.background) if @community.background.attached? %>
        <%= form.file_field :background %>
      </div>
    </div>
    <p>Recommended banner size is at least 1000x600 pixels.</p>

    <p>
      <% if current_page?(action: :new) %>
        <%= form.submit 'Create', class: 'save-btn' %>
      <% else %>  
        <%= form.submit 'Update', class: 'save-btn' %>
      <% end %>
      <%= link_to 'Discard changes', url_for(:back) %>
    </p>
  <% end %>
</section>
