<section>
  <div class="community-header">
    <h1>Communities</h1>
    <% if user_signed_in? %>
      <%= link_to 'Start a New Community', new_community_path, class: 'primary-btn' %>
    <% end %>
  </div>
  <div class="communities-parent" style="overflow: auto">
    <table style="min-width: 768px;">
      <tr style="background: #073b4c; color: white">
        <th></th>
        <th></th>
        <th>Community</th>
        <th>About</th>
        <th>Members</th>
        <th>Topics</th>
        <th>Comments</th>
      </tr>
      <% @communities.each do |c| %>
        <tr>
          <td style="color: gold; text-align: center"><%= c.status == 'official' ? icon('fas', 'star') : '' %></td>
          <td style="width: 50px"><%= image_tag (c.image) if c.image.attached? %></td>
          <td><%= link_to c.name, community_path(c) %></td>
          <td><%= strip_tags(c.description.to_s) %></td>
          <td style="text-align: center"><%= c.community_members.count %></td>
          <td style="text-align: center"><%= c.posts.count %></td>
          <td style="text-align: center"><%= c.comments.count %></td>
        </tr>
      
      <% end %>
    </table>
  </div>
</section>