<section>
  <%= link_to 'Go back', community_path(@community) %>
  <h2>Members</h2>
  <div class="member-list">
    <% @members.each do |m| %>
      <div class="member-item">
        <div style="display: flex; align-items: center">
          <%= image_tag (m.user.image) if m.user.image.attached? %>
          <h3><%= link_to m.user.username, user_path(m.user) %></h3>
        </div>
        <p>
          <% if user_signed_in? && @community.user_id == current_user.id %>
            <%= link_to 'Kick', membership_community_path(@community, type: "kick", who: m.user.id ), method: :put %>
            <br>
            <%= link_to 'Ban', membership_community_path(@community, type: "ban", who: m.user.id ), method: :put %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? && @community.user_id == current_user.id %>
    <h2>Banned Members</h2>
    <div class="members-list">
      
      <% @banned_members.each do |m| %>
        <div class="member-item">
          <div style="display: flex; align-items: center">
            <%= image_tag (m.user.image) if m.user.image.attached? %>
            <h3><%= link_to m.user.username, user_path(m.user) %></h3>
          </div>
          <% if @community.user_id == current_user.id %>
            <%= link_to 'Unban', membership_community_path(@community, type: "unban", who: m.user.id ), method: :put %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>