<%= content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @community.name %> - FreeFiction" />
  <meta property="og:description" content="<%= truncate(strip_tags(@community.description.to_s), length: 50) %>" />
  <meta property="og:type" content="profile" />
  <%= tag :meta, property: 'og:image', content: "#{request.host_with_port}#{url_for(@community.image)}" %>
<% end %>

<div class="community-container">
  <div class="community-cover" style="background-color: <%= @community.color %>;">
      <%= image_tag (@community.background) if @community.background.attached? %>
  </div>
  <div class="community-info">
    <%= image_tag (@community.image) if @community.image.attached? %>
    <div class="community-idk">
      <h1><%= @community.name %></h1>
      <div class="community-buttons">
        <% if user_signed_in? %>
          <strong>
            <% if @community.community_members.find_by(user_id: current_user.id, community_id: @community.id) %>
              <%= link_to 'Leave Community', membership_community_path(@community, type: "leave"), class: 'del-btn', method: :put %>
            <% elsif @community.user_id == current_user.id %>
              <%= link_to 'Edit community', edit_community_path(@community), class: 'primary-btn' %>
            <% elsif @community.community_member_bans.find_by(user_id: current_user.id, community_id: @community.id) %>
              You have been banned.
            <% else %>
              <%= link_to 'Join Community', membership_community_path(@community, type: "join"), class: 'join-btn', method: :put %>
            <% end %>
          </strong>
        <% end %>
        <%= link_to 'View Members', members_community_path(@community), class: 'secondary-btn' %>
      </div>
    </div>
    <div style="width: 100%"></div>
    <%= @community.description %>
  </div>
  <div class="community-post-container">
    <div class="community-new-post">
      <% if user_signed_in? %>
        <% if current_user.id == @community.user_id || @community.community_members.find_by(user_id: current_user.id)%>
          <%= render partial: 'posts/form' %>
        <% end %>
      <% end %>
    </div>
    <% if !@posts.present? %>
      <h3 style="color: grey">There does not appear to be any posts here.</h3>
    <% end %>
    <% @posts.each do |p| %>
      <div class="community-post">
        <div class="community-poster">
          <div>
            <%= image_tag (p.user.image) if p.user.image.attached? %>
            <div>
              <h4><%= link_to p.user.username, user_path(p.user) %></h4>
              <h5>on <%= p.created_at.strftime("%A, %d %b %Y %l:%M %p") %></h5>
            </div>
          </div>
          <div>
            <% if user_signed_in? && (p.user_id == current_user.id || @community.user_id == current_user.id)%>
              <h6><%= link_to 'Delete', community_post_path(p), method: :delete, data: {confirm: 'Are you sure?'} %>
              <%= link_to 'Edit', edit_community_post_path(p) %></h6>
            <% else user_signed_in? && @community.user_id == current_user.id %>
              <h6><%= link_to 'Delete', community_post_path(p), method: :delete, data: {confirm: 'Are you sure?'} %></h6>
            <% end %>
          </div>
        </div>
        <div class="community-post-content">
          <%= p.content %>
        </div>
      </div>
      <% p.comments.each do |c| %>
        <div class="community-post-comment">
          <%= image_tag (c.user.image) if c.user.image.attached? %>
          <div class="post-comment-content">
            <div class="post-comment-head">
              <strong><%= link_to c.user.username, user_path(c.user) %></strong>
              <% if user_signed_in? && (c.user_id == current_user.id || @community.user_id == current_user.id)%>
                <h6><%= link_to 'Delete', comment_path(c), method: :delete, data: {confirm: 'Are you sure?'} %></h6>
              <% end %>
            </div>
            <p><%= c.body %></p>
          </div>
        </div>
      <% end %>
      <div class="new-community-post-comment">
        <% if user_signed_in? && (@community.community_members.find_by(user_id: current_user.id, community_id: @community.id) || @community.user_id == current_user.id)%>
            <% @commentable_id = p.id %>
            <%= render partial: 'comments/form', locals: { commentable: p } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
