<!DOCTYPE html>
<html>
  <head>
    <title>FreeFiction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for?(:meta_og) %>
      <%= yield :meta_og %>
    <% else %>
      <meta property="og:title" content="FreeFiction" />
      <meta property="og:type" content="website" />
      <meta property="og:description" content="FreeFiction is a platform for readers and authors.
      It is about freedom to write and not be restricted for the content you write." />
      <meta property="og:url" content="https://freefiction.xyz" />
      <%= tag :meta, property: 'og:image', content: image_url('Fable.png') %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'Fable.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Cantarell|Source+Serif+Pro|Pacifico' %>
    
  </head>

  <body>
    <button name="button" type="button" id="hamburger-trigger">
      <h1>
        <i class="material-icons" id="hamburger-icon">menu</i>
      </h1>
    </button>
    <div class="top-bar" id="sidebar" style="background: <%= current_user.panel_colour if user_signed_in? %>">
      <div id="top">
        <h6 style="position: absolute; left: 10px; top: 50px;">BETA v2.0</h6>
        <h1 style="font-family: 'Pacifico', cursive; font-weight: 500"><%= link_to 'FreeFiction', '/', class: 'linear-wipe' %></h1>
        
        <%= link_to '/' do %>
          <%= icon('fas', 'home') %>
          <p>Home</p>
        <% end %>
        <%= link_to communities_path do %>
          <%= icon('fas', 'user-friends') %>
          <p>Communities</p>
        <% end %>
        <%= link_to books_path do %>
          <%= icon('fas', 'search') %>
          <p>Browse</p>
        <% end %>
        <%= link_to 'https://discord.gg/ThTkAMG', target: '_blank' do %>
          <%= icon('fab', 'discord') %>
          <p>Discord server</p>
        <% end %>
      </div>
      <div id="bottom">  
        <% if user_signed_in? %>
          
          <div style="display: flex; justify-content: space-between">
            <%= link_to user_path(current_user) do %>
              <%= image_tag (current_user.image.variant(resize_to_limit: [30, 30])) if current_user.image.attached? %>
              <div>
                <p style="padding: 0px;">View Profile</p>
                <h6 style="font-weight: 100; padding: 0px;">@<%= current_user.username %></h6>
              </div>
            <% end %>
            <%= link_to destroy_user_session_path, title: "Sign Out", method: :delete do %>
              <i class="material-icons">exit_to_app</i>
            <% end %>
          </div>
          <div id="new-book-div">
          <%= link_to new_book_path, id: 'new-book' do %>
            <%= icon('fas', 'plus') %>
            <p>New Book</p>
          <% end %>
          </div>
          <div>
          <%= link_to user_path(current_user, options: '2') do %>
            <%= icon('fas', 'heart') %>
            <p>Favourited Stories</p>
          <% end %>
          <%= link_to user_path(current_user, options: '1') do %>
            <%= icon('fas', 'book') %>
            <p>My Stories</p>
          <% end %>
          <%= link_to user_path(current_user, options: '3') do %>
            <%= icon('fas', 'user-friends') %>
            <p>My Communities</p>
          <% end %>
          <div id="user-tray">
            <%= link_to edit_user_registration_path, title: "Settings" do %>
              <%= icon('fas', 'cog') %>
            <% end %>
            <%= link_to edit_user_registration_path, title: "Dark Mode" do %>
              <%= icon('fas', 'adjust') %>
            <% end %>
            <%= link_to edit_user_registration_path(:anchor => "panel_colour"), title: "Change Theme" do %>
              <%= icon('fas', 'palette') %>
            <% end %>
          </div>
          <%= link_to "Admin Panel", admin_path if current_user.role == 'Owner' %>
          </div>
        <% else %>
          <div class="user-bar">
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
        <% end %>
        <div class="small-info">
          <p>
            <%= link_to 'About', about_path %> |
            <%= link_to 'FAQ', faq_path %> |
            <%= link_to 'Source code', 'https://gitlab.com/freefiction/freefiction' %>
            <%= link_to 'Patreon', 'https://www.patreon.com/user?u=25116515', target: '_blank' %>
          </p> 

        </div>
      </div>
    </div>
    
    
		<div class="main-content" id="content">
			<% if notice != nil %>
				<div class="notice">
					<strong><%= notice %></strong>
				</div>
			<% end %>
			<% if alert != nil %>
				<div class="alert">
					<strong><%= alert %></strong>
				</div>
			<% end %>
      <%= yield %>
    </div>
  </body>
</html>
